<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mini Project - Notes</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-center bg-black  text-white">

	<h1 class="font-bold text-4xl my-5">Notes</h1>
	<h2>
		<%= 12 * 9996 %>
	</h2>

	<script src="/javascripts/script.js"></script>
</body>

</html>